{% extends 'base/base.html' %}

{% block content %}
	<div align="center">
			
			<table border="0" width="800" style="border-collapse: collapse" id="table29" cellpadding="3">
				<tr>
					<td align="center">
					<table border="1" width="100%" style="border-collapse: collapse" bordercolor="#808080" id="table30" cellpadding="4">
						<tr>
							<td align="left" valign="top">
							<table border="0" width="100%" style="border-collapse: collapse" id="table31" cellspacing="1">
								<tr>
									<td valign="top">
				<font face="Tahoma">
					<span class="575025418-16082012">
					<span class="509092419-27092012">
						<b>
				<font color="#FFFFFF" size="2">
				<a target="_blank" href="http://www.srphoto.com/Event_Photos.htm">
				<font color="#808080">School Activities, Sports and Special 
				Events</font></a></font><font size="2" color="#808080"></a>:</font></b><p>
						<font size="2" color="#808080">In order to ensure 
						privacy and the secure handling of your school's images 
						we have designed this system to allow authorized users 
						to download images and galleries for school use.&nbsp; 
						To use this system:</font></p>
						<p><font size="2" color="#808080">&nbsp;&nbsp; Enter 
						your user name and password below<br>
&nbsp;&nbsp; You will receive an email with your &quot;Token&quot;<br>
&nbsp;&nbsp; That Token will allow unlimited access and downloading for 24 hours 
						for any users who have access to it</font></p>
						<p><font size="2" color="#808080">Thank You</font></p>
			<p align="center">

<iframe src="http://apps.srphoto.com/adminaccess.fwx" style="display: block;" name="I2" id="shoot_key0" height="282" width="615" frameborder="0" align="left">
Your browser does not support inline frames or is currently configured not to display inline frames.
</iframe>

					
						
						
						
					</p>
					</span></span>
				</font>
											</td>
								</tr>
							</table>
							</td>
						</tr>
					</table>
					</td>
				</tr>
			</table>
</div>
{% include 'base/footer.html' %}
{% endblock %}