{% extends 'base/base.html' %}

{% block style %}
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/dance.css') }}">
{% endblock %}

{% block content %}
	<main>
		<section class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<h1 class=" text-center">Dance</h1>
				<p>From smooth, trouble free photo days to professional back end support to excellent quality images and photo novelties; our team is committed to providing you with the best photography and service available.</p>
				<ul>
					<li>Competitive Pricing</li>
					<li>Excellent photography</li>
					<li>Local in-house lab</li>
					<li>Experience and attention to detail</li>
				</ul>
			</div>
		</section>
		<section class="row well welld">
			<div class="col-xs-10 col-xs-offset-1 text-center">
				<div class="col-md-3 col-sm-6">
					<img class="img-horiz" src="{{ url_for('static', filename='images/dance/1.jpg') }}">
				</div>
				<div class="col-md-3 col-sm-6">
					<img class="img-horiz" src="{{ url_for('static', filename='images/dance/2.jpg') }}">
				</div>
				<div class="col-md-3 col-sm-6">
					<img class="img-horiz" src="{{ url_for('static', filename='images/dance/3.jpg') }}">
				</div>
				<div class="col-md-3 col-sm-6">
					<img class="img-horiz" src="{{ url_for('static', filename='images/dance/4.jpg') }}">
				</div>
			</div>
		</section>
		<section class="row">
			<div class="col-xs-10 col-xs-offset-1 text-center">
				<div class="col-md-3 col-sm-6">
					<img class="img-vert" src="{{ url_for('static', filename='images/dance/5.jpg') }}">
				</div>
				<div class="col-md-3 col-sm-6">
					<img class="img-vert" src="{{ url_for('static', filename='images/dance/6.jpg') }}">
				</div>
				<div class="col-md-3 col-sm-6">
					<img class="img-vert" src="{{ url_for('static', filename='images/dance/7.jpg') }}">
				</div>
				<div class="col-md-3 col-sm-6">
					<img class="img-vert" src="{{ url_for('static', filename='images/dance/8.jpg') }}">
				</div>
			</div>
		</section>
	</main>
	{% include 'base/footer.html' %}
{% endblock %}