{% extends 'base/base.html' %}

{% block content %}
<div class="text-center">
<h1 style="font-size:150%">Family Session</h1>
	<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="630" height="538" id="JetPhotoView1" align="middle">
	<param name="allowScriptAccess" value="sameDomain" />
	<param name="movie" value="JetPhotoView.swf" />
	<param name="quality" value="High" />
	<param name="bgcolor" value="#ffffff" />
	<embed src="JetPhotoView.swf" quality="High" bgcolor="#ffffff" width="630" height="538" name="JetPhotoView1" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
	</object>
	{% include 'base/footer.html' %}
{% endblock %}