{% extends 'base/base.html' %}

{% block content %}
<section>
	<div class="row text-center">
		<div class="col-sm-6 col-sm-offset-3">
			<h1 style="font-size:200%">Information Sheet Access</h1>
			<iframe src="http://apps.srphoto.com/infousersframed.htm" style="display: block;" name="I1" id="shoot_key" height="200" width="100%" frameborder="0">
			Your browser does not support inline frames or is currently configured not to display inline frames.
			</iframe>
		</div>
	</div>
</section>
{% include 'base/footer.html' %}
{% endblock %}