{% extends 'base/base.html' %}

{% block content %}
<div class="text-center">
<h1 style="font-size:150%">Location Session</h1>
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="632" height="536" id="JetPhotoView0" align="middle">
		<param name="allowScriptAccess" value="sameDomain" />
		<param name="movie" value="JetPhotoView.swf" />
		<param name="quality" value="high" />
		<param name="bgcolor" value="#FFFFFF" />
		<embed src="JetPhotoView.swf" quality="high" bgcolor="#FFFFFF" width="632" height="536" name="JetPhotoView0" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
	</object>
	{% include 'base/footer.html' %}
{% endblock %}