{% extends 'base/base.html' %}

{% block content %}
<main>
	<section class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<h1 style="font-size:200%;">Portrait Photography</h1>
			<p>Our goal in each portrait session is to create an image that perfectly reflects the subject's style and personality.</p>
			<p>Each of our studio environments is designed to help you feel comfortable before, during and after the session. When we go on location, we also have the flexibility to incorporate your environment into the image.Our experience at putting subjects at ease is key to the creation of photographs that convey confidence, assurance, and relaxed success.</p>
			<p>An in-house lab with full-time technicians ensures that your finished photographs will be of the highest quality possible. Our specialized staff is committed to the creation of the best images possible. We have complete control over color balance, retouching, print blending, lab chemistry, filtering and caper choices.</p>
			<p>You can call on Stuart-Rodgers Photography and have confidence that your final images will reflect well on you. Stuart-Rodgers archives all of our digital images. If you would care to order from any of these from prior years, give us a call and we would be happy to pull them from our files.</p>
		</div>
	</section>
	<section class="row well" style="margin-top:80px;padding:80px 0 80px 0;">
		<div class="col-xs-10 col-xs-offset-1">
			<div class="col-sm-6 text-center" style="margin-top:15px;">
				<img border="0" src="{{ url_for('static', filename='images/portaritproducts/Sample01.jpg') }}" width="120" height="265"></a>
				<img border="0" src="{{ url_for('static', filename='images/portaritproducts/Sample02.jpg') }}" width="120" height="265"></a>
			</div>
			<div class="col-sm-6">
				<h2 style="font-size:150%;">Holiday Cards</h2>
				<p>Stuart-Rodgers holiday cards are a truly unique and personal way to send your holiday greetings. Each card passes through fifteen processing steps as it is hand crafted for you. There are many colors, sizes and verses to choose from. Your sales consultant can help you create your own unique verse or holiday greeting.</p>
				<br>
				<p>If you have more than one image you would like to use, we have a great new product that uses one custom made design with multiple images for your one print. *There is an additional design fee to use more than one image in your holiday card*</p>
			</div>
		</div>
	</section>
	<section class="row" style="padding:80px 0 80px 0;">
		<div class="col-xs-10 col-xs-offset-1">
			<div class="col-md-6">
				<div class="col-md-6">
					<h2 style="font-size:150%;">Coffee Table Album</h2>
					<p>The Coffee Table Album allows you to incorporate a number of images in one book. It is available in various sizes, bound in genuine leather and custom designed with your selection of poses. Duplicate albums are discounted half price.</p>
				</div>
				<div class="col-md-6 text-center">
					<img class="resize-img" border="0" src="{{ url_for('static', filename='images/portaritproducts/IMG_8226.jpg') }}" width="220" height="220">
				</div>
			</div>
			<div class="col-md-6">
				<div class="col-md-6" style="left:10px;">
					<h2 style="font-size:150%;">Gallery Wrap</h2>
					<p>Turn your prints into Fine Art on a Premium Canvas Wrap!</p>
					<p>gallery wraps are 1.5" Thick and include, Heavy Hardwood frame with rolled face edgin, 75 year archival in and a Pre-installed saw tooth hanger</p>
				</div>
				<div class="col-md-6 text-center">
					<img class="resize-img" border="0" src="{{ url_for('static', filename='images/portaritproducts/gallerywrap.jpg') }}" width="270" height="196">
				</div>
			</div>
		</div>
	</section>
	<section class="row well" style="padding:80px 0 80px 0;">
		<div class="col-xs-10 col-xs-offset-1">
			<div class="col-xs-10 col-xs-offset-1">
				<h2 style="font-size:150%;">Gallary Frame Set</h2>
				<p>The Gallery Frame Set is a great way for you to display your valuable prints.  Each set includes your choice of black, silver, wood or gold frame, white mat with one opening and non-glare glass ready to hang.</p>
			</div>
			<div class="col-sm-6 text-center" style="margin-top:20px;">
				<img class="resize-img" border="0" src="{{ url_for('static', filename='images/portaritproducts/customframe2.jpg') }}" height="240" width="240">
			</div>
			<div class="col-sm-6" style="margin-top:20px;">
				<div class="row" style="margin-top:20px;">
					<div class="col-sm-6 text-center">
						<p>Mat Options:<br>Black, White, Antique Tan, and<br>White with a bevel edge.</p>
					</div>
					<div class="col-sm-6 text-center">
						<img border="0" src="{{ url_for('static', filename='images/portaritproducts/mattes.jpg') }}" width="120" height="120">
					</div>
				</div>
				<div class="row" style="margin-top:20px;">
					<div class="col-sm-6 text-center">
						<p>Frame Options:<br>Black, Silver, Wood, and Gold</p>
					</div>
					<div class="col-sm-6 text-center">
						<img border="0" src="{{ url_for('static', filename='images/portaritproducts/frameoptions.jpg') }}" width="120" height="120">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="row" style="padding:80px 0 80px 0;">
		<div class="col-xs-10 col-xs-offset-1">
			<div class="col-md-6">
				<div class="col-md-6">
					<h2 style="font-size:150%;">Box Mount</h2>
					<p>Contemporary box mount frames allow you to display your prints like artwork. The box mounts are available with a 1"; or 2"; depth and your choice of white or black sides. If no choices are made with your order, a 2" box mount will be used and the color of the sides will be determined by the color of the print.</p>
				</div>
				<div class="col-md-6 text-center" style="margin-top:20px;">
					<img class="resize-img" border="0" src="{{ url_for('static', filename='images/portaritproducts/boxmount2.jpg') }}" width="220" height="220">
				</div>
			</div>
			<div class="col-md-6">
				<div class="col-md-6" style="left:10px;">
					<h2 style="font-size:150%;">Masonite Float</h2>
					<p>The masonite float is a unique way to display images. Prints get mounted on a lightweight masonite board with a 1 thick wood backing to allow your images to extend out from your wall. Create a modern display with a Masonite Float collage</p>
				</div>
				<div class="col-md-6 text-center" style="margin-top:20px;">
					<img class="resize-img" border="0" src="{{ url_for('static', filename='images/portaritproducts/masonitefloat.jpg') }}" width="280" height="180">
				</div>
			</div>
		</div>
	</section>
	<section class="row well" style="padding:80px 0 80px 0;">
		<div class="col-xs-10 col-xs-offset-1">
			<div class="col-md-4 text-center">
				<img class="resize-img" border="0" src="{{ url_for('static', filename='images/portaritproducts/flatmat1.jpg') }}" width="240" height="240">
			</div>
			<div class="col-md-4" style="margin:20px 0 20px 0;">
				<h2 style="font-size:150%;">Photo Collage</h2>
				<p>A photo collage is a great way to showcase several poses in one print.&nbsp; Each photo collage includes 2 to 10 poses that are custom designed Call for more details or questions.</p>
			</div>
			<div class="col-md-4 text-center">
				<img class="resize-img" border="0" src="{{ url_for('static', filename='images/portaritproducts/Flatmat2.jpg') }}" width="240" height="240"></font></p>
			</div>
		</div>
	</section>
</main>
{% include 'base/footer.html' %}s
{% endblock %}