{% extends 'base/base.html' %}

{% block content %}
<div align="center">
			<table border="0" width="800" style="border-collapse: collapse" id="table36" cellpadding="3" bgcolor="#FFFFFF" bordercolor="#000000">
				<tr>
					<td align="center" bgcolor="#FFFFFF">
			<font face="Tahoma" size="2" color="#808080">
    <div align="center">
		<table border="1" width="100%" style="border-collapse: collapse" bordercolor="#808080" id="table37">
			<tr>
				<font face="Tahoma" size="2">
						<td valign="top" style="width: 338px; height: 23px; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
				<font face="Tahoma" size="2">
				<table border="0" width="100%" style="border-collapse: collapse" id="table41">
					<tr>
				<font face="Tahoma" size="2" color="#808080">
						<td width="387" valign="top">
				<font face="Tahoma" size="2">
				<div align="center">
				<table class="MsoNormalTable" border="0" cellpadding="0" style="border-collapse: collapse" id="table42" width="382" height="165">
					<tr style="height: 15.75pt">
						<td valign="top" style="width: 338px; height: 23px; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
				<font face="Tahoma" size="2">
						<b><font color="#808080" face="Tahoma"><br>
				School Event 
				Coverage (Click on your school below)</font></b></td>
					</tr>
					<tr style="height: 15.75pt">
						<td valign="top" style="width: 338px; height: 23px; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
						&nbsp;</td>
					</tr>
					<tr style="height: 15.75pt">
						<td valign="top" style="width: 338px; height: 23px; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
						<font face="Tahoma" size="2">
						<span style="font-size:10.0pt;font-family:Tahoma;color:gray">
						<a style="color: #808080; text-decoration: underline; text-underline: single" target="_blank" href="https://apps.srphoto.com/srgallery.fwx?sitype=ba-c">
						Barrington High School</a></span></td>
					</tr>
					<tr>
				<font face="Tahoma" size="2" color="#808080">
						<td valign="top" style="width: 338px; height: 23px; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
						<font face="Tahoma" size="2">
						<span style="font-size:10.0pt;font-family:Tahoma;color:gray">
						<a style="color: #808080; text-decoration: underline; text-underline: single" target="_blank" href="https://apps.srphoto.com/srgallery.fwx?sitype=bh-c">Bartlett High School</a></span></td>
					</tr>
					<tr style="height: 15.75pt">
						<td valign="top" style="width: 338px; height: 23px; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
				<font face="Tahoma" size="2">
						<span style="color:gray; font-size:10.0pt; font-family:Tahoma">
						<a style="text-decoration: underline; text-underline: single" href="https://apps.srphoto.com/srgallery.fwx?sitype=bg-c">
						<font color="#808080">Buffalo Grove High School</font></a></span></td>
					</tr>
					<tr style="height: 17.1pt">
						<td valign="top" style="width: 338px; height: 23px; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
				<font face="Tahoma" size="2">
				
						<span style="font-size:10.0pt;font-family:Tahoma;color:gray">
						<a style="color: #808080; text-decoration: underline; text-underline: single" target="_blank" href="https://apps.srphoto.com/srgallery.fwx?sitype=dw-c">
						Daniel Wright</a></span></td>
					</tr>
					<tr style="height: 17.1pt">
						<td valign="top" style="width: 338px; height: 23px; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
						<font face="Tahoma" size="2">
						<span style="font-size:10.0pt;font-family:Tahoma;color:gray">
						<a style="color: #808080; text-decoration: underline; text-underline: single" target="_blank" href="https://apps.srphoto.com/srgallery.fwx?sitype=df-c">
						Deerfield High School</a></span></td>
					</tr>
					<tr>
						<td valign="top" style="width: 338px; height: 23px; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
						<a target="_blank" href="https://apps.srphoto.com/srgallery.fwx?sitype=d4-c">
						<span style="font-family: Tahoma; color: #808080; text-decoration: underline">
						District 214 Events</span></a></td>
					</tr>
					<tr>
						<td valign="top" style="width: 338px; height: 23px; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
						<font face="Tahoma" size="2">
						<a href="https://apps.srphoto.com/srgallery.fwx?sitype=eh-c">
						<span style="font-family: Tahoma; color: #808080; text-decoration: underline">
						Elgin High School</span></a></td>
					</tr>
					<tr style="height: 17.1pt">
						<td valign="top" style="width: 338px; height: 23px; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
						<font face="Tahoma" size="2">
						<a href="https://apps.srphoto.com/srgallery.fwx?sitype=eg-c">
						<span style="font-family: Tahoma; color: #808080; text-decoration: underline">
						Elk Grove High School</span></a></td>
					</tr>
					<tr style="height: 17.1pt">
						<td valign="top" style="width: 338px; height: 23px; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
						<font face="Tahoma" size="2">
						<a target="_blank" href="https://apps.srphoto.com/srgallery.fwx?sitype=et-c">
						<span style="font-family: Tahoma; color: #808080; text-decoration: underline">
						Evanston High School</span></a></td>
					</tr>
					<tr style="height: 18.9pt">
						<td valign="top" style="width: 338px; height: 23px; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
				<font face="Tahoma" size="2">
						<a target="_blank" href="https://apps.srphoto.com/srgallery.fwx?sitype=gn-c">
						<span style="font-family: Tahoma; color: #808080; text-decoration: underline">
						Glenbrook North High School</span></a></td>
					</tr>
					<tr style="height: 18.9pt">
						<td valign="top" style="width: 338px; height: 23px; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
						<a target="_blank" href="https://apps.srphoto.com/srgallery.fwx?sitype=hh-c">
						<span style="font-family: Tahoma; color: #808080; text-decoration: underline">
						Highland Park </span></a><font face="Tahoma" size="2">
						<a href="http://pics.srphoto.com/1-Schools_2010/HPHS_top/default.htm">
						<span style="font-family: Tahoma; color: #808080; text-decoration: underline">
						High School</span></a></td>
					</tr>
					<tr>
				<font face="Tahoma" size="2" color="#808080">
						<td valign="top" style="width: 338px; height: 23px; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
				<font face="Tahoma" size="2">
						<span style="color:gray; font-size:10.0pt; font-family:Tahoma">
						<a style="text-decoration: underline; text-underline: single" href="https://apps.srphoto.com/srgallery.fwx?sitype=jk-c">
				<font color="#808080">John F Kennedy High School</font></a></span></td>
					</tr>
					<tr style="height: 18.9pt">
						<td valign="top" style="width: 338px; height: 23px; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
				<font face="Tahoma" size="2">
						<span style="color:gray; font-size:10.0pt; font-family:Tahoma">
						<a style="text-decoration: underline; text-underline: single" href="https://apps.srphoto.com/srgallery.fwx?sitype=jh-c">
				<font color="#808080">John Hersey High School</font></a></span></td>
					</tr>
					<tr>
						<td valign="top" style="width: 338px; height: 22px; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
				<font face="Tahoma" size="2">
				
						<span style="font-size:10.0pt;font-family:Tahoma;color:gray">
						<a style="color: #808080; text-decoration: underline; text-underline: single" target="_blank" href="https://apps.srphoto.com/srgallery.fwx?sitype=ln-c">
						Lane Tech High School</a></span></td>
					</tr>
					<tr>
						<td valign="top" style="width: 338px; height: 22px; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
						<font face="Tahoma" size="2">
						<span style="font-size:10.0pt;font-family:Tahoma;color:gray">
						<a style="color: #808080; text-decoration: underline; text-underline: single" target="_blank" href="https://apps.srphoto.com/srgallery.fwx?sitype=ls-c">
						Latin School</a></span></td>
					</tr>
					<tr>
						<td valign="top" style="width: 338px; height: 22px; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
						<a href="https://apps.srphoto.com/srgallery.fwx?sitype=lp-c">
						<span style="font-family: Tahoma; color: #808080; text-decoration: underline">
						Lincoln Park High School</span></a></td>
					</tr>
					<tr>
						<td valign="top" style="width: 338px; height: 22px; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
						<font face="Tahoma" size="2">
						<a href="https://apps.srphoto.com/srgallery.fwx?sitype=le-c">
						<span style="font-family: Tahoma; color: #808080; text-decoration: underline">
						Lincolnshire-Prairie View District 103</span></a></td>
					</tr>
					<tr>
						<td valign="top" style="width: 338px; height: 22px; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
						<font face="Tahoma" size="2">
						<span style="font-size:10.0pt;font-family:Tahoma;color:gray">
						<a style="color: #808080; text-decoration: underline; text-underline: single" target="_blank" href="https://apps.srphoto.com/srgallery.fwx?sitype=lo-c">
						Loyola Academy</a></span></td>
					</tr>
					<tr>
						<td valign="top" style="width: 338px; height: 23px; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
						<font face="Tahoma" size="2">
						<span style="font-size:10.0pt;font-family:Tahoma;color:gray">
						<a style="color: #808080; text-decoration: underline; text-underline: single" target="_blank" href="https://apps.srphoto.com/srgallery.fwx?sitype=nt-c">
						New Trier High School</a>&nbsp;</span></td>
					</tr>
					<tr>
						<td valign="top" style="width: 338px; height: 23px; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
						
						<font face="Tahoma" size="2">
						<span style="font-size:10.0pt;font-family:Tahoma;color:gray">
						<a style="color: #808080; text-decoration: underline; text-underline: single" target="_blank" href="https://apps.srphoto.com/srgallery.fwx?sitype=nn-c">
						Niles North High School</a>&nbsp;</span></td>
					</tr>
					<tr>
						<td valign="top" style="width: 338px; height: 23px; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
						
						<font face="Tahoma" size="2">
						<span style="font-size:10.0pt;font-family:Tahoma;color:gray">
						<a style="color: #808080; text-decoration: underline; text-underline: single" target="_blank" href="https://apps.srphoto.com/srgallery.fwx?sitype=nw-c">
						Niles West High School</a>&nbsp;</span></td>
					</tr>
					<tr>
						<td valign="top" style="width: 338px; height: 23px; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
						
						<font face="Tahoma" size="2">
						<span style="font-size:10.0pt;font-family:Tahoma;color:gray">
						<a style="color: #808080; text-decoration: underline; text-underline: single" target="_blank" href="https://apps.srphoto.com/srgallery.fwx?sitype=oi-c">
						Ogden International</a>&nbsp;</span></td>
					</tr>
					<tr>
						<td valign="top" style="width: 338px; height: 23px; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
						
				<font face="Tahoma" size="2">
						
						<span style="color:gray; font-size:10.0pt; font-family:Tahoma">
						<a style="text-decoration: underline; text-underline: single" href="https://apps.srphoto.com/srgallery.fwx?sitype=ph-c">
				<font color="#808080">Prospect High School</font></a></span></td>
					</tr>
					<tr>
						<td valign="top" style="width: 338px; height: 23px; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
						
						<font face="Tahoma" size="2">
						<span style="color:gray; font-size:10.0pt; font-family:Tahoma">
						<font color="#808080">
						<a href="https://apps.srphoto.com/srgallery.fwx?sitype=rm-c">
						<u>R</u></a></font></span></font><span style="text-decoration: underline"><font color="#808080"><span style="font-family: Tahoma"><a href="https://apps.srphoto.com/srgallery.fwx?sitype=rd-c"><u>egina 
						Dominican</u></a></span></font></span></td>
					</tr>
					<tr>
						<td valign="top" style="width: 338px; height: 23px; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
						
						<font face="Tahoma" size="2">
						<span style="color:gray; font-size:10.0pt; font-family:Tahoma">
						<font color="#808080">
						<a href="https://apps.srphoto.com/srgallery.fwx?sitype=ri-c">
						<u>R</u></a></font></span></font><span style="font-family: Tahoma"><a href="https://apps.srphoto.com/srgallery.fwx?sitype=ri-c"><u>iverside 
						Brookfield</u></a></span></td>
					</tr>
					<tr>
						<td valign="top" style="width: 338px; height: 23px; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
						
						<font face="Tahoma" size="2">
						<span style="color:gray; font-size:10.0pt; font-family:Tahoma">
						<a style="text-decoration: underline; text-underline: single" href="https://apps.srphoto.com/srgallery.fwx?sitype=rm-c">
						<font color="#808080">Rolling Meadows High School</font></a></span></td>
					</tr>
					<tr>
						<td valign="top" style="width: 338px; height: 23px; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
						
						<font face="Tahoma" size="2">
						<span style="font-size:10.0pt;font-family:Tahoma;color:gray">
						<a style="color: #808080; text-decoration: underline; text-underline: single" target="_blank" href="https://apps.srphoto.com/srgallery.fwx?sitype=sm-c">
						School of St Marys</a></span></td>
					</tr>
					<tr>
						<td valign="top" style="width: 338px; height: 23px; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
						
						
						<a href="https://apps.srphoto.com/srgallery.fwx?sitype=th-c">
						<span style="font-family: Tahoma; color: #808080; text-decoration: underline">
						Taft High School</span></a></td>
					</tr>
					<tr>
						<td valign="top" style="width: 338px; height: 23px; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
						<font face="Tahoma" size="2">
						<span style="font-size:10.0pt;font-family:Tahoma;color:gray">
						<a style="color: #808080; text-decoration: underline; text-underline: single" target="_blank" href="https://apps.srphoto.com/srgallery.fwx?sitype=lb-c">
						U of C Lab School</a></span></td>
					</tr>
					<tr>
						<td valign="top" style="width: 338px; height: 23px; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
						<font face="Tahoma" size="2">
						<span style="font-size:10.0pt;font-family:Tahoma;color:gray">
						<a style="color: #808080; text-decoration: underline; text-underline: single" target="_blank" href="https://apps.srphoto.com/srgallery.fwx?sitype=us-c">USARS Events</a></span></td>
					</tr>
					<tr>
						<td valign="top" style="width: 338px; height: 23px; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
						<font face="Tahoma" size="2">
						<span style="font-size:10.0pt;font-family:Tahoma;color:gray">
						<a style="color: #808080; text-decoration: underline; text-underline: single" target="_blank" href="https://apps.srphoto.com/srgallery.fwx?sitype=wp-c">
						Walter Payton</a></span></td>
					</tr>
					<tr>
						<td valign="top" style="width: 338px; height: 23px; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
						<font face="Tahoma" size="2">
						<span style="color:gray; font-size:10.0pt; font-family:Tahoma">
						<a style="text-decoration: underline; text-underline: single" href="https://apps.srphoto.com/srgallery.fwx?sitype=wl-c">
						<font color="#808080">Wheeling High School</font></a></span></td>
					</tr>
					<tr>
						<td valign="top" style="width: 338px; height: 23px; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
						<font face="Tahoma" size="2">
						<span style="font-size:10.0pt;font-family:Tahoma;color:gray">
						<a style="color: #808080; text-decoration: underline; text-underline: single" target="_blank" href="https://apps.srphoto.com/srgallery.fwx?sitype=yh-c">
						York High School</a></span></td>
					</tr>
					</table>
				</div>
				<p>&nbsp;</p>
							<table border="0" width="51%" id="table43">
								<tr>
									<td align="left" valign="top" width="28">&nbsp;</td>
									<td align="left" valign="top"><b>
									<font face="Tahoma" size="2" color="#808080">
									&nbsp;Other Candid Events</font></b></td>
								</tr>
								<tr>
									<td align="left" valign="top" width="28">
									&nbsp;</td>
									<td align="left" valign="top">
									<font size="2" color="#FFFFFF" face="Tahoma">
									<font color="#808080">&nbsp;</font><a target="_blank" href="http://www.srphoto.com/Portrait_Login.htm"><font color="#808080"><u>Hinsdale 
									Assembly</u></font></a></font></td>
								</tr>
								<tr>
									<td align="left" valign="top" width="28">
									&nbsp;</td>
									<td align="left" valign="top">
									&nbsp;</td>
								</tr>
							</table>
							</td>
						</tr>
				</table>
				</td>
					<td align="center" valign="top">
				<font face="Tahoma" size="2" color="#808080">
						<br>
						<img border="0" src="{{ url_for('static', filename='images/school_event_photos/swimming1.jpg') }}" width="144" height="96">
						<img border="0" src="{{ url_for('static', filename='images/school_event_photos/homecoming2.jpg') }}"" width="144" height="96"><p>
						<img border="0" src="{{ url_for('static', filename='images/school_event_photos/candid1.jpg') }}" width="144" height="96">
						<img border="0" src="{{ url_for('static', filename='images/school_event_photos/swimming2.jpg') }}" width="144" height="96"></p>
						<p>
						<img border="0" src="{{ url_for('static', filename='images/school_event_photos/homecoming1.jpg') }}" width="144" height="96">
						<img border="0" src="{{ url_for('static', filename='images/school_event_photos/candid2.jpg') }}" width="144" height="96"></p>
						<p>
						<img border="0" src="{{ url_for('static', filename='images/school_event_photos/football1.jpg') }}" width="146" height="96">
						<img border="0" src="{{ url_for('static', filename='images/school_event_photos/dance1.jpg') }}" width="152" height="97"></p>
						<p>
						<img border="0" src="{{ url_for('static', filename='images/school_event_photos/guitar1.jpg') }}" width="138" height="109">
						<img border="0" src="{{ url_for('static', filename='images/school_event_photos/dance2.jpg') }}" width="160" height="108">&nbsp;</td>
			</tr>
		</table>
	</div>
					</td>
				</tr>
			</table>
			
</div>
{% include 'base/footer.html' %}
{% endblock %}