body {
  font-family: tahoma!important;
}

/*nav a:link {text-decoration: none!important;color:#808080;}
nav a:visited {text-decoration: none!important;color:#808080;}
nav a:active {text-decoration: none!important;color:#808080; }
nav a:hover {text-decoration: none!important;color:#808080;}
nav a:focus {text-decoration: none!important;color:#808080;}

a:link, a:visited, a:active {
  text-decoration: none;
  color:#808080;
}

a:hover, a:focus {
  text-decoration: none;
  font-weight: bold;
  color:#808080;
}
*/
button {
  padding: 0;
  border: none;
  background: none;
}

.question {
	font-size: 150%;
}

.answer {
	font-size: 100%;
 	display:none;
}

.rotate-90 {
    transform:rotate(90deg);
}
