h1 {
	font-size:150%;
}

h2 {
	font-size:150%;
}

.welld {
	margin-top: 40px;
}

.submit {
	margin-top:15px;
}

@media screen and (max-width: 1060px) {
	.main_img {
		width:100%;
	}
}

@media screen and (max-width: 767px) {
	.main_img {
		width: 70%;
		margin-top:20px;
	}
}

@media screen and (max-width: 508px) {
	.main_img {
		width: 90%;
		margin-top:20px;
	}
}
