<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <br>
      <p align="center">
        847-864-7322 | <a href="studiodirections.htm">Several Chicago Metro Area Locations</a> | <a href="mailto:info@srphoto.com"> info@srphoto.com  </a>
      </p>
      <p align="center">
        Our Guarantee; if you don't like it, we will remake it. If you really don't like it, return it for a full refund no questions asked.
      </p>
      <p align="center">
        Corporate Address: 2504 Green Bay Road, Evanston Illinois 60201
      </p>
  </div>
</div>