<aside class="col-sm-3">
	<ul id="policies">
		<li><a href="{{ url_for('main.renew_contract') }}">CONTRACT</a></li>
		<li><a href="{{ url_for('main.drug_free') }}">DRUG FREE WORKPLACE</a></li>
		<li><a href="{{ url_for('main.non_descrimination') }}">NON-DISCRIMINATION</a></li>
		<li><a href="{{ url_for('main.non_collusion') }}">NON-COLLUSION</a></li>
		<li><a href="{{ url_for('main.insurance') }}">PROOF OF INSURANCE</a></li>
		<li><a href="{{ url_for('main.sexual_harassment') }}">SEXUAL HARASSMENT</a></li>
		<li><a href="{{ url_for('main.background_check') }}">BACKGROUND CHECKS</a></li>
	</ul>
</aside>
